<ion-content class="ion-padding">
  <h2 class="ion-text-center">Calendário de Aulas</h2>

  <!-- Seleção de Formação -->
  <form [formGroup]="formacaoForm">
    <ion-item>
      <ion-label position="floating">Selecione a Formação:</ion-label>
      <ion-select formControlName="formacao">
        <ion-select-option *ngFor="let formacao of formacoes" [value]="formacao.id">
          {{ formacao.nome }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </form>

  <!-- FullCalendar -->
  <div *ngIf="calendarOptions" class="calendar">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>
</ion-content>
