<ion-content class="ion-padding">
  <h1>Calendriers de formation</h1>

  <!-- Formulário para adicionar uma nova aula -->
  <form [formGroup]="aulaForm" (ngSubmit)="adicionarAula()">
    
    <!-- Seleção da formação -->
    <ion-item>
      <ion-label position="floating">Formação:</ion-label>
      <ion-select id="formacao" formControlName="formacao">
        <ion-select-option
          *ngFor="let formacao of formacoes"
          [value]="formacao.nome"
        >
          {{ formacao.nome }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Campo de descrição -->
    <ion-item>
      <ion-label position="floating">Descrição:</ion-label>
      <ion-input id="descricao" formControlName="descricao"></ion-input>
    </ion-item>

    <!-- Data de Início -->
    <ion-item>
      <ion-label position="floating">Data de Início:</ion-label>
      <ion-datetime
        presentation="date"
        formControlName="dataInicio"
      ></ion-datetime>
    </ion-item>

    <!-- Data de Fim -->
    <ion-item>
      <ion-label position="floating">Data de Fim:</ion-label>
      <ion-datetime
        presentation="date"
        formControlName="dataFim"
      ></ion-datetime>
    </ion-item>

    <!-- Hora de Início -->
    <ion-item>
      <ion-label position="floating">Hora de Início:</ion-label>
      <ion-datetime
        presentation="time"
        formControlName="horaInicio"
      ></ion-datetime>
    </ion-item>

    <!-- Hora de Fim -->
    <ion-item>
      <ion-label position="floating">Hora de Fim:</ion-label>
      <ion-datetime
        presentation="time"
        formControlName="horaFim"
      ></ion-datetime>
    </ion-item>

    <!-- Professor -->
    <ion-item>
      <ion-label position="floating">Professor:</ion-label>
      <ion-input id="professor" formControlName="professor"></ion-input>
    </ion-item>

    <!-- Botão para adicionar aula -->
    <ion-button expand="block" type="submit" (click)="adicionarAula()">
      Adicionar Aula
    </ion-button>
  </form>
  <!-- FullCalendar -->
  <div class="calendar">
    <full-calendar #calendar [options]="calendarOptions"></full-calendar>
  </div>
</ion-content>